*.pyc
train_data/cls/*
!train_data/cls/gen_train_cls.ipynb
output/*

laboratory/*
!laboratory/README.md

train_data/layout/*
!train_data/layout/gen_train_layout.ipynb

weights/*
*.log
*.onnx


